.courses{
    overflow-y: auto;
    overflow-x: hidden;
    height: 83vh;
    width: 79vw;
}

@media (orientation: portrait ) {
    .courses {
        width: 95vw;
    }
}

@media (orientation: portrait ) {
    .courses {
        height: 75vh;
    }
}