.courses{
    overflow-y: auto;
    overflow-x: hidden;
    height: 83vh;
    width: 79vw;
}

@media (orientation: portrait ) {
    .courses {
        width: 95vw;
    }
}

@media (orientation: landscape ) and (max-width: 1080px){
    .courses {
        width: 89vw;
    }
}

@media (orientation: portrait ) {
    .courses {
        height: 75vh;
    }
}

@media (orientation: landscape ) and (max-height: 18000px){
    .courses {
        height: 65vh;
    }
}