.flexList {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 75vw;
    height: auto;
}

.flexItem {
    margin: 1px;
    border-color: #4e555b;
    border-style: ridge;
    border-width: thin;
    width: 20vw;
    height: 10vw;
}

.flexItemFullWidth {
     margin-top: 2vh;
     margin-bottom: 2vh;
     width: 100%;
     height: auto;
 }

.flagContent {
    position: absolute;
    height: 90%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    line-height: 10%;
}

.flagContentWithIcon{
    position: absolute;
    height: 90%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    align-content: stretch;
    line-height: 10%;
}

@media (max-width: 768px) {
    .flexItem {
        width: 98vw;
        height: 49vh;
    }
}

.flexItem:hover{
    border-color: darkred;
    border-width: medium;
}
