.flexList {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 75vw;
    height: auto;
}

.flexItem {
    margin: 1px;
    border-color: #4e555b;
    border-style: ridge;
    border-width: thin;
    width: 20vw;
    height: 10vw;
}

.flagContent {
    position: absolute;
    height: 90%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    line-height: 10%;
}

@media (min-width: 768px) {
    flexItem {
        width: 98vw;
        height: 49vh;
    }
}

.flexItem:hover{
    border-color: darkred;
    border-width: medium;
}

.de {
    background-color: #000000;
    background-size: 100%;

    position: relative;
}
.de:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: linear-gradient(180deg,transparent 34%, #ff0000, 0, #ff0000 67%, transparent 0),
                linear-gradient(180deg,transparent 67%, #ffd700, 0, #ffd700 100%, transparent 0);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.fr {
    background-color: #0000ff;
    background-size: 100%;

    position: relative;
}
.fr:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: linear-gradient(90deg,transparent 34%, #ffffff, 0, #ffffff 67%, transparent 0),
                linear-gradient(90deg,transparent 67%, #ff0000, 0, #ff0000 100%, transparent 0);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.it {
    background-color: #228b22;
    background-size: 100%;

    position: relative;
}
.it:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: linear-gradient(90deg,transparent 34%, #ffffff, 0, #ffffff 67%, transparent 0),
                linear-gradient(90deg,transparent 67%, #ff0000, 0, #ff0000 100%, transparent 0);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.ch {
    background-color: #ff0000;
    background-size: 100%;
}