.footer {
    position:absolute;
    bottom: 3vh;
    height: auto;
    border-top: 1px solid #dee2e6 !important;
    margin-top: 1rem !important;
    width: 100%;
    padding-right: 15vw;
    padding-left: 16vw;
    padding-top: 1vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

@media (orientation: landscape) {
    .footer{
    }
}

.footerItem {
    width: auto;
    height: 10px;
    align-self: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
}

@media (orientation: portrait ) {
    .footer {
        bottom: 5vh;
    }
}

@media (orientation: portrait ) and (max-width: 1080px) {
    .footer {
        padding-right: 1vw;
        padding-left: 1vw;
    }
}

@media (orientation: portrait){
    .hideForPortrait{
        display: none;
    }
}